.byline {
   background-color: get-color(white);
   padding: 15px 0;

   &--live {
      background-color: get-color(white);
      margin-bottom:15px;
      padding: 0 15px 10px 15px;
   }

   @include media("<=medium") {
      padding: 15px 10px;
   }

   @include media("<=small-tiny") {
      margin: 0 -15px 0 -15px;
   }

   &__content-container {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      max-width: $max-content-width;

      @include media("<=medium") {
         align-items: baseline;
      }
   }

   &__contributors-container {
      @include span(8 of 16);
      align-items: center;
      display: flex;
      justify-content: flex-start;

      @include media("<=medium-small") {
         display: block;
      }
   }

   &__share-container {
      @include span(last 8 of 16);
      align-items: center;
      display: flex;
      justify-content: flex-end;

      @include media("<=medium-small") {
         display: block;
         text-align: right;
      }
   }

   &__text {
      @include font-size(18px);
      color: get-color(dusty-gray);
      line-height: 1.5;
      padding-right: 10px;

      @include media("<=medium") {
         @include font-size(15px);
         padding-left: 20px;
      }

      @include media("<=small") {
         @include font-size(15px);
         padding-left: 5px;
      }
   }

   &__list {
      @include container();
      padding: 0;
      margin: 0;
      list-style-type: none;

   }
   &__item {
      display: block;
      float: left;
      padding: 0 3px;
      position: relative;
   }

   &__avatar {
      border-radius: 50%;
      height: 32px;
      width: 32px;

      @include media("<=medium") {
         height: 28px;
         width: 28px;
      }
   }

}
