<div class="js-digest digest__container">
      <div class="digest__text js-digest-text">Get a summary of the most important news, every day.</div>
      <form id="mc-form" class="digest__form">
         <input class="digest__input-email js-digest-input" id="mc-email" type="email" placeholder="add your email here">
         <button type="submit" class="digest__input-button-join js-digest-button">Join</button>
         <a href="#" class="js-dismiss-newsletter digest__input-button-dismiss" title="Dismiss Signup"><span class="fa fa-close"></span></a>
      </form>
</div>
