<configuration>
   <appender name="LE"
             class="com.logentries.logback.LogentriesAppender">
      <Debug>False</Debug>
      <Token>8fb82bb7-64aa-4066-9638-1492557c81fb</Token>
      <Ssl>False</Ssl>
      <facility>USER</facility>
      <layout>
         <pattern>%cyan(%date{"yyyy-MM-dd'T'HH:mm:ss","UTC"},) %highlight(level=%level) %logger{36} api.prod %black(%msg%n)</pattern>
      </layout>
   </appender>
   <logger name="akka.event.slf4j.Slf4jLogger" level="error" additivity="true">
   </logger>
   <logger name="com.gettyimages.spray.swagger" level="error" additivity="true">
   </logger>

   <root level="warn">
      <appender-ref ref="LE" />
   </root>
</configuration>
