@()(implicit req: Request[Any], session: Option[com.grasswire.common.models.Session])

@main(signature = "general-page", title = "Be Right Back | Grasswire | The Internet's Newsroom") {
<div class="full-page-header">
   <div class="row">
      <div class="columns twelve">
         <h1>Be Right Back</h1>
      </div>
   </div>
</div>
<div class="content">
   <div class="row">
      <div class="columns twelve">
         <h3>The Grasswire Team is updating the website</h3>
         <p>We just need a few minutes to check the tubes 'round this part of the Internet.</p>
      </div>
   </div>
</div>
}
